<div class="nav-container auth-nav-container">
    <div class="logo">
        <img id="logo" src="images/ftv-favicon.png" alt="" />
        <h1 class="logo-text">From the Vine</h1>
    </div>
    <ul class="auth-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/manage">Manage</a></li>
        <li><a href="/create" id="post-btn">Post</a></li>
        <li><a href="/logout" id="logout-btn">Logout</a></li>
    </ul>
</div>

