<footer>
    <div class="footer">
        <p>© From the Vine 2023</p>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

</footer>