<div class="searchContainer">
    <form id="searchbar" action="search" method="GET">
        <input type="search" placeholder="Search.." name="searchInput" id="searchInput">
        <button id="searchBtn" type="submit">🔎</button>
    </form>
</div>