
* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

#flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}

#flex-container > footer {
    margin-top:auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
} */

/* .searchContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

#searchbar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    /* justify-content: center;
    padding-top: 5px; */
    /* width: 100%; */
    /* margin-left: 3em; */
}



#searchInput {
    background-color: rgb(235, 232, 232);
    border-style: none;
    padding: 5px 0 5px 5px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    font-size: 20px;
}

#searchBtn {
    border-style: none;
    padding: 0 5px;
    background-color: rgb(183, 22, 52);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    padding: 0 15px;
}

#searchBtn:hover{
    background-color: rgb(138, 16, 38);
}

.logo {
    display: flex;
    margin: 0 0 0 .45em;
    }

#logo {
    width: 2.5em;
    height: 2.5em;
    padding-right: 0.5em;
}
.logo-text {
    font-weight: 600;
    font-style: italic;
}


/* welcome page */
.hero-container{
    margin-top: 50px;
    display: flex;
}

.hero-text {
    background-color: rgb(245, 245, 245);
    margin: 3em;
    padding: 2em;
    border-radius: 1.2em;
    z-index: 1;
}

.hero-text h3 {
    font-weight: 400;
    font-style: italic;
    color:rgb(138, 16, 38);
    padding-bottom: 1em;
}

.hero-text h4 {
    font-weight: 400;
    font-size: 2.5em;
    padding-bottom: 1em;
}

#hero-img {
    max-height: 25em;
    border-radius: 1.2em;
    margin-left: -150px;
    margin-right: 3em;
}



.full-btn {
    background-color: rgb(138, 16, 38);
    border: 0.2em solid rgb(138, 16, 38);
    color: rgb(255, 255, 255);
    padding: 7px 15px;
    border-radius: 20px;
}

.full-btn:hover {
    border: 0.2em solid rgb(106, 11, 29);
    background-color: rgb(106, 11, 29);
}

.outline-btn {
    border: 0.2em solid rgb(138, 16, 38);
    background-color: transparent;
    color:rgb(138, 16, 38);
    padding: 7px 15px;
    border-radius: 20px;
}

.outline-btn:hover {
    background-color: rgba(106, 11, 2, 0.253);
    color: rgb(255, 255, 255);
}

.full-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.outline-btn a{
    text-decoration: none;
    color:rgb(138, 16, 38);
}





/* public nav bar */
.public-nav {
    display: flex;
    list-style-type: none;
    margin: 1em;
    padding: 0;
}

.public-nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#sign-up-btn {
    background-color: rgb(138, 16, 38);
    border: 0.2em solid rgb(138, 16, 38);
    color: rgb(255, 255, 255);
    padding: 0.3em 1.3em;
    border-radius: 1.2em;
}

#sign-up-btn:hover {
    border: 0.2em solid rgb(106, 11, 29);
    background-color: rgb(106, 11, 29);
    color: rgb(255, 255, 255);

}


.auth-nav {
    display: flex;
    list-style-type: none;
    margin: 1em;
    padding: 0;
}


#post-btn {
    background-color: rgb(138, 16, 38);
    border: 0.15em solid rgb(138, 16, 38);
    color: rgb(255, 255, 255);
    padding: 0.3em 1.3em;
    border-radius: 1.2em;
}

#post-btn:hover{
    /* border: 0.2em solid rgb(106, 11, 29); */
    background-color: rgb(106, 11, 29);
    border-color: rgb(106, 11, 29);
}

#logout-btn {
    background-color: transparent;
    border: 0.15em solid rgb(138, 16, 38);
    color: rgb(138, 16, 38);
    padding: 0.3em 1.3em;
    margin-left: 0.5em;
    border-radius: 1.2em;
}

#logout-btn:hover {
    background-color: rgba(106, 11, 2, 0.253);
    color: rgb(138, 16, 38);
    /* color: rgb(255, 255, 255); */
}


.auth-nav a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color:rgb(0, 0, 0);
}


/* dashboard  */

.post-container {
    display: flex;
    flex-direction: column;
    margin: 3em;
}

.section-title {
    margin: 1em 0 ;
}

.section-title h2 {
    color:rgb(138, 16, 38);
    font-weight: 400;
    font-style: italic;
}

.single-post {
    background-color: rgb(245, 245, 245);
    border-radius: 1.2em;
    margin-bottom: 2em;
    padding: 2em 1.4em;
}

.single-post h3 {
    font-weight: 500;
    font-size: 2em;
}

.post-author {
    font-weight: 300;
    font-style: italic;
    padding: 0.5em 0;
    color:rgb(138, 16, 38)
}

/* login */
#forgotPass {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding-top: 1em;
    font-size: 0.8em;
    color:rgb(0, 0, 0);
    font-style: italic;
}



/* register */

#targetIMG {
    max-height: 50%;
    max-width: 75%;
}

.input-guide {
    font-size: 12px;
    color: grey;
    padding-bottom: 15px;
    padding-top: 5px;
}

input:invalid {
    border: 2px solid rgb(210, 49, 49);
  }

.wine-form > span {
    font-size: 13px;
    color: rgb(210, 49, 49);
}

/* errorpage */



/* create new note */

.wine-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 1.2em;
    margin: 1.2em 5em;
    padding: 1.5em;
}

.section-header {
    display: flex;
    justify-content: center;
    color:rgb(138, 16, 38);
    font-weight: 400;
    font-style: italic;
}

.create-legend {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 1.2em;
    margin: 1.2em 1.2em;
    padding: 0.5em 1em;
    font-style: italic;
}

#noteArea {
    width: 99%;
    height: 25em;
    border-radius: 0.5em;
    padding: 0.3em;
    border: none;
}

.wine-form input{
    padding: 0.3em;
    border-radius: 0.5em;
    border: none;
}


.wine-choice {
    padding: 1em;
}

.wine-choice input {
    margin: 0 1em;
}



/* manage notes */

.manage-btns {
    display: flex;
    padding-top: 1em;
}

#delete-btn {
    margin-left: 0.5em;
}





/* .highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 660px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
} */


/* footer  */

.footer {
    /* display: flex;
    justify-content: space-around; */
    padding: 1em;
    background-color: rgb(112, 112, 112);
    color: white;
}

.footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 1em 1em 0 1em;
    font-size: 12px;
}

.footer > p {
    text-align: center;
}