<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="images/ftv-favicon.png">
    <title>From the Vine | Login </title>
</head>
<body>
    <div id="flex-container">

        <%- include('../partials/publicnav') %>
    
        <h2 class="section-header">Login</h2>
        <div class="login-container">
            <form class="wine-form" id="login-form" action="login" method="POST" novalidate>
                <label for="username">
                    Username:
                </label>
                <input 
                    type="text" 
                    id="username"
                    name="username"
                    value=""
                    placeholder="jdoe"
                    maxLength="254"
                    minLength="10"
                    required
                />
                <br />
    
                <label for="password">
                    Password:
                </label>
                <input               
                    type="password" 
                    id="password"
                    name="password"
                    value=""
                    placeholder="password"
                    maxLength="64"
                    minLength="8"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*?[0-9])(?=.*?[!#%])[A-Za-z0-9!#%]{8,64}"
                    required
                />
                <br />
    
                <input 
                    type="submit"
                    value="Submit"
                    id="log"
                    class="full-btn"
                />
    
                <a href="#" id="forgotPass">Forgot Password?</a>
            </form>
        </div>
    
        <%- include('../partials/footer') %>
    </div>
    
</body>
</html>